<!DOCTYPE html>
<html ng-app="myapp">
<head>
	<meta charset="UTF-8">
	
	<!--inserindo o bootstrap no documento html-->
	<link href="lib/bootstrap.min.css" rel="stylesheet">
	
	<!-- incluindo o angularjs-->
    <script src="lib/angular.min.js"></script>
	<script src="consultar-beneficiario.js"></script>
<title>Consulta de Beneficiario</title>
</head>
<body ng-controller="controle_consulta">
	
	<!-- inserindo o  jQuery que é requisito do JavaScript do Bootstrap -->
	<script src="http://code.jquery.com/jquery-latest.js"></script>
	
	<!-- inserindo o JavaScript do Bootstrap -->
	<script src="lib/bootstrap.min.js"></script>



	<form ng-submit="pesquisarBeneficiario()" class="form-horizontal">
		<legend>Consultar Beneficiário</legend>
		<!-- Campo pesquisa -->
		<div class="form-group">
			<label class="col-md-4 control-label" for="pesquisa">Digite o
				cpf para pesquisar: </label>
			<div class="col-md-3">
				<input id="pesquisa" type="text" placeholder="Cpf beneficiario"
					class="form-control input-md" ng-model="pesquisa">
			</div>
			<div>
				<input type="submit" id="pesquisar" class="btn btn-primary"
					value="Pesquisar"></input>
			</div>
		</div>


		<!-- Enviar -->
		<div class="form-group">
			<label class="col-md-4 control-label" for="pesquisar"></label>
			<div class="col-md-3">
				<center>
					<input type="button" id="listarTodos" class="btn btn-primary"
						value="Listar Todos" ng-click="listarTodos()"></input>
					
					<a href="cadastrar-beneficiario.html"><input type="button" id="novoBeneficiario" class="btn btn-primary"value="Novo Beneficiario"></input></a>
				</center>
			</div>
		</div>
		
	</form>
	
	<div ng-show="mostrar">
		<table class="table table-striped table-bordered">
			<thead>
				<tr>
					<th>Nome</th>
					<th>Estado Civil</th>
					<th>Data de nascimento</th>
					<th>Nacionalidade</th>
					<th>Estado de nascimento</th>
					<th>Cidade de nascimento</th>
					<th>Sexo</th>
					<th>Cpf</th>
					<th>Rg</th>
				</tr>
				
			</thead>
			<tbody>
				
				<tr>
					<td><input id="nomeEditar" type="text" placeholder=""
					class="form-control input-md" ng-model="nomeEditar"></td>
					
					<td> <input id="estadoCivilEditar" type="text" placeholder=""
					class="form-control input-md" ng-model="estadoCivilEditar"></td>
					
					<td> <input id="dataNascimentoEditar" type="text" placeholder=""
					class="form-control input-md" ng-model="dataNascimentoEditar"></td>
					
					<td><input id="nacionalidadeEditar" type="text" placeholder=""
					class="form-control input-md" ng-model="nacionalidadeEditar"> </td>
					
					<td><input id="estadoNascimentoEditar" type="text" placeholder=""
					class="form-control input-md" ng-model="estadoNascimentoEditar"> </td>
					
					<td> <input id="cidadeNascimentoEditar" type="text" placeholder=""
					class="form-control input-md" ng-model="cidadeNascimentoEditar"></td>
					
					<td><input id="sexoEditar" type="text" placeholder=""
					class="form-control input-md" ng-model="sexoEditar"> </td>
					
					<td> <input id="cpfEditar" type="text" placeholder=""
					class="form-control input-md" ng-model="cpfEditar" ng-disabled="true"></td>
					
					<td><input id="rgEditar" type="text" placeholder=""
					class="form-control input-md" ng-model="rgEditar" ng-disabled="true"></td>
					
					<td><button type="button" ng-click="alterarUsuario()" class="btn btn-success">Salvar</button></td>
					
					<td><button type="button" ng-click="esconderCampoEditar()" class="btn btn-info">Cancelar</button></td>
					
				</tr>
			
			</tbody>
		</table>
	</div>
	
	<div>
		<table class="table table-striped table-bordered">
			<thead>
				<tr>
					<th>Nome</th>
					<th>Estado Civil</th>
					<th>Data de nascimento</th>
					<th>Nacionalidade</th>
					<th>Estado de nascimento</th>
					<th>Cidade de nascimento</th>
					<th>Sexo</th>
					<th>Cpf</th>
					<th>Rg</th>
					
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="r in retorno | orderBy:'nome'">
					<td ><strong>{{ r.nome }}</strong></td>
					<td> {{ r.estado_civil }}</td>
					<td> {{ r.data_nascimento }}</td>
					<td> {{ r.nacionalidade }}</td>
					<td> {{ r.estado_nascimento }}</td>
					<td> {{ r.cidade_nascimento }}</td>
					<td> {{ r.sexo }}</td>
					<td> {{ r.cpf }}</td>
					<td> {{ r.rg }}</td>
					<td>
						<button type="button" ng-click="removeLinha(r)" class="btn btn-sm btn-danger" ng-value="x">
						<i class="glyphicon-class">X</i>
						</button>
					</td>
					<td><button type="button" ng-click="mostrarCampoEditar(r)" class="btn btn-warning">Editar</button></td>
					<td><button type="button" ng-click="excluirBeneficiarioPorLinha(r)" class="btn btn-danger">Excluir</button></td>
					
				</tr>
			</tbody>
		</table>
	</div>
</body>
</html>